@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

#root {
  display: flex;
  flex-direction: row;
}

.userInputArea {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100vh;
  background-color: var(--bg-light-color);
  overflow-y: auto;
}