@import 'variables.css';

header {
  padding: 8px;
  height: 100vh;
  width: 125px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.brand {
  display: flex;
  flex-direction: row;
}

.logo {
  height: 40px;
}